<div class="tile event-tile">
    <img class="responsive-img" src="" alt=""/>
    
    <div class="top">
        <p class="title">{{event.title}}</p>
        <p>{{event.date}}, {{event.time}}</p>
        <p>{{event.location}}</p>
    </div>
    
    <div class="bottom">
        <a href="/events/{{event._id}}" class="button flat right">{{translate lang "details"}}</a>
    </div>
</div>