<div class="event-card">
    <img class="responsive-img" src="" alt=""/>
    
    <div class="top">
        <p class="title">{{event.title}}</p>
        <p>{{event.date}}</p>
        <p>{{event.time}}</p>
        <p>{{event.location}}</p>
        <a href="/events/{{event._id}}">{{translate lang "details"}}</a>
    </div>
</div>