<body onload="init()">
    <main>
        <div class="img-wrapper">
            <img id="header-image" src="/images/background.jpeg"/>
        </div>

        <section class="welcome-section">
            <h1 class="center welcome-text theme-color-text">{{translate lang "welcomeText"}}</h1>
        </section>
    
        <div class="card section">
            <section class="events-container">
                <h2>{{translate lang "upcomingEvents"}}</h2>
                <div class="row">
                    {{#each upcomingEvents}}
                        <div class="col-lg-2">
                            {{> eventCard event=this}}
                        </div>
                    {{else}}
                        <p>{{translate lang "noEventsAvailable"}}</p>
                    {{/each}}
                </div>
                
                <h2>{{translate lang "eventsCreatedByUser"}}</h2>
                <div class="row">
                    {{#each eventsByUser}}
                        <div class="col-lg-2">
                            {{> eventCard event=this}}
                        </div>
                    {{else}}
                        <p>{{translate lang "noEventsCreatedByUser"}}</p>
                    {{/each}}
                </div>
            </section>
        </div>
    </main>
</body>
